.container {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  max-width: 720px;
  border: none;
  tr,
  td,
  th {
    &:last-child {
      border-bottom: none;
    }
    &:hover {
        cursor: default;
        background-color: inherit;
    }
    box-shadow: none;
  }
}
