.top_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  p {
    font-weight: 500;
    font-size: 16px;
  }
}

.middle_content {
  display: flex;
  flex-direction: column;
  padding: 0;
  .textarea {
    font-family: Montserrat;
    padding-top: 0.5rem;
    resize: none;
    min-height: 96px;
    border: 2px solid #c3c3c3;
    border-radius: 12px;
    width: 100%;
    padding-left: 0.5rem;
    &:focus {
      outline: none;
    }
  }
}

.bottom_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 147px;
}
