.top_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  margin-bottom: 1rem;
  p {
    font-weight: 500;
    font-size: 16px;
  }
}

.middle_content {
  display: flex;
  flex-direction: column;
  padding: 0;
  .textarea {
    font-family: Montserrat;
    padding-top: 0.5rem;
    resize: none;
    min-height: 96px;
    border: 2px solid #c3c3c3;
    border-radius: 12px;
    width: 100%;
    padding-left: 0.5rem;
    &:focus {
      outline: none;
    }
  }
}

.radio {
  width: 13px;
  height: 13px;
  border: white 1px solid;
  &:checked {
    accent-color: #008000;
  }
  &:focus {
    outline: none;
  }
}
.bottom_content {
  p {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .radio_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 147px;
    .radio_styles {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 0.7rem;
      margin-top: 0.5rem;
      label {
        font-size: 11px;
        font-weight: 500;
        color: #636363;
      }
    }
  }
}

.input_styles {
  min-height: 48px;
}
