.add_account_modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  margin: 1.5rem;
  select {
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  p {
    padding: 0;
    margin: 0;
  }
}

.add_account_modal_input{
    min-height: 48px;
}