.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fa4616;
    margin-bottom: 0.5rem;
  }
}
.modal_content {
  width: 500px;
  background-color: white;
  border-radius: 16px;
}

.modal_header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  h2 {
    margin-top: 1rem;
    margin-left: 2rem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  button {
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
    font-size: xx-large;
  }
}

.modal_title {
  margin: 0;
}

.modal_body {
  padding: 10px;
}

.modal_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
