.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header_container {
  max-width: 720px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 17px;
}
.header_component {
  max-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.span_2 {
  grid-column: 1 / 3;
}
